{% extends "web/partials/base.html" %} 
{% load static %} 
{% block content %}


        <!--Page Wrapper-->
        <div class="page-wrapper">
            

            <!-- Body Container -->
            <div id="page-content"> 
                <!--Page Header-->
                <div class="page-header text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between align-items-center">
                                <div class="page-title"><h1>Checkout </h1></div>
                                <!--Breadcrumbs-->
                                <div class="breadcrumbs"><a href="index.html" title="Back to the home page">Home</a><span class="main-title"><i class="icon anm anm-angle-right-l"></i>One Page Checkout Style1</span></div>
                                <!--End Breadcrumbs-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Page Header-->

                <!--Main Content-->
                <div class="container">     
                    <!--Checkout Content-->
                    <form class="checkout-form ajax reload" method="post" action="#">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <!--Shipping Address-->
                                <div class="block mb-3 shipping-address mb-4">
                                    <div class="block-content">
                                        <h3 class="title mb-3 text-uppercase">Shipping Address</h3>
                                        <p><a href="login.html"><u>Login</u></a> or <a href="register.html"><u>Register</u></a> for faster payment.</p>
                                        <fieldset>
                                            <div class="row">
                                                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="firstname" class="form-label">First Name <span class="required">*</span></label>
                                                    {{form.firstname}}
                                                </div>
                                                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="lastname" class="form-label">Last Name <span class="required">*</span></label>
                                                    {{form.lastname}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12">
                                                    <label for="address-1" class="form-label">Address <span class="required">*</span></label>
                                                    {{form.address}}
                                                </div>
                                                <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12">
                                                    {{form.subaddress}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="postcode" class="form-label">Postcode / ZIP <span class="required">*</span></label>
                                                    {{form.postcode}}
                                                </div>
                                                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="address_country1" class="form-label">Country <span class="required">*</span></label>
                                                    {{form.country}}
                                                    
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="address_State" class="form-label">State <span class="required">*</span></label>
                                                    {{form.state}}
                                                        
                                                </div>
                                                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="address_province" class="form-label">Town / City <span class="required">*</span></label>
                                                    {{form.town}}
                                                        
                                                    
                                                </div>
                                            </div>
                                            
                                        </fieldset>
                                    </div>
                                </div>
                                <!--End Shipping Address-->
                               
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                             <!--Cart Summary-->
                             <div class="cart-info">
                                <div class="cart-order-detail cart-col">
                                    <div class="row g-0 border-bottom pb-2">
                                        <span class="col-6 col-sm-6 cart-subtotal-title"><strong>Subtotal</strong></span>
                                        <span class="col-6 col-sm-6 cart-subtotal-title cart-subtotal text-end"><span class="money">$326.00</span></span>
                                    </div>
                                    <div class="row g-0 border-bottom py-2">
                                        <span class="col-6 col-sm-6 cart-subtotal-title"><strong>Coupon Discount</strong></span>
                                        <span class="col-6 col-sm-6 cart-subtotal-title cart-subtotal text-end"><span class="money">-$25.00</span></span>
                                    </div>
                                    <div class="row g-0 border-bottom py-2">
                                        <span class="col-6 col-sm-6 cart-subtotal-title"><strong>Tax</strong></span>
                                        <span class="col-6 col-sm-6 cart-subtotal-title cart-subtotal text-end"><span class="money">$10.00</span></span>
                                    </div>
                                    <div class="row g-0 border-bottom py-2">
                                        <span class="col-6 col-sm-6 cart-subtotal-title"><strong>Shipping</strong></span>
                                        <span class="col-6 col-sm-6 cart-subtotal-title cart-subtotal text-end"><span class="money">Free shipping</span></span>
                                    </div>
                                    <div class="row g-0 pt-2">
                                        <span class="col-6 col-sm-6 cart-subtotal-title fs-6"><strong>Total</strong></span>
                                        <span class="col-6 col-sm-6 cart-subtotal-title fs-5 cart-subtotal text-end text-primary"><b class="money">$311.00</b></span>
                                    </div>

                                    <button id="cartCheckout" class="btn btn-lg my-4 checkout w-100">Place order</button>
                                    <div class="paymnet-img text-center"><img src="{% static 'web/images/icons/safepayment.png' %}" alt="Payment" width="299" height="28" /></div>
                                </div>                               
                            </div>
                            <!--Cart Summary-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-md-7 col-sm-12 col-12 mb-4 mb-md-0">
                                <!--Order Summary-->
                                <div class="block order-summary">
                                    <div class="block-content">
                                        <h3 class="title mb-3 text-uppercase">Order Summary</h3>
                                        <div class="table-responsive-sm table-bottom-brd order-table"> 
                                            <table class="table table-hover align-middle mb-0">
                                                <thead>
                                                    <tr>
                                                        <th class="action">&nbsp;</th>
                                                        <th class="text-start">Image</th>
                                                        <th class="text-start proName">Product</th>
                                                        <th class="text-center">Qty</th>
                                                        <th class="text-center">Price</th>
                                                        <th class="text-center">Subtotal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center cart-delete"><a href="#" class="cart-remove remove-icon position-static" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove to Cart"><i class="icon anm anm-times-r"></i></a></td>
                                                        <td class="text-start"><a href="product-layout1.html" class="thumb"><img class="rounded-0 blur-up lazyload" data-src="{{ value.image}}" src="{{ value.image}}" alt="product" title="product" width="120" height="170" /></a></td>
                                                        <td class="text-start proName">
                                                            <div class="list-view-item-title">
                                                                <a href="product-layout1.html">{{value.name}}</a>
                                                            </div>
                                                            <div class="cart-meta-text">
                                                                Color: Black<br>Size: Small
                                                            </div>
                                                        </td>
                                                        <td class="text-center">2</td>
                                                        <td class="text-center">$99.00</td>
                                                        <td class="text-center"><strong>$198.00</strong></td>
                                                    </tr>
                                                    <!-- <tr>
                                                        <td class="text-center cart-delete"><a href="#" class="cart-remove remove-icon position-static" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove to Cart"><i class="icon anm anm-times-r"></i></a></td>
                                                        <td class="text-start"><a href="product-layout1.html" class="thumb"><img class="rounded-0 blur-up lazyload" data-src="assets/images/products/product2-120x170.jpg" src="assets/images/products/product2-120x170.jpg" alt="product" title="product" width="120" height="170" /></a></td>
                                                        <td class="text-start proName">
                                                            <div class="list-view-item-title">
                                                                <a href="product-layout1.html">Cuff Beanie Cap</a>
                                                            </div>
                                                            <div class="cart-meta-text">
                                                                Color: Black<br>Size: Small
                                                            </div>
                                                        </td>
                                                        <td class="text-center">1</td>
                                                        <td class="text-center">$128.00</td>
                                                        <td class="text-center"><strong>$128.00</strong></td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--End Order Summary-->
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-12 col-12">
                                
                            </div>
                        </div>
                    </form>
                    {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                <script>
                  swal(
                    "your order is placed",
                    "Thank You, Our Team Will Contact you Soon!",
                    "success"
                  );
                </script>
                {% endfor %}
              </ul>
              {% endif %}
                    <!--End Checkout Content-->
                </div>
                <!--End Main Content-->
            </div>
            <!-- End Body Container -->


{% endblock content %}


