{% extends "web/partials/base.html" %} 
{% load static %} 
{% block content %}


        <!--Page Wrapper-->
        <div class="page-wrapper">
            

            <!-- Body Container -->
            <div id="page-content"> 
                <!--Page Header-->
                <div class="page-header text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between align-items-center">
                                <div class="page-title"><h1>Checkout </h1></div>
                                <!--Breadcrumbs-->
                                <div class="breadcrumbs"><a href="index.html" title="Back to the home page">Home</a><span class="main-title"><i class="icon anm anm-angle-right-l"></i>One Page Checkout Style1</span></div>
                                <!--End Breadcrumbs-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Page Header-->

                <!--Main Content-->
                <div class="container">     
                    <!--Checkout Content-->
                    <form class="checkout-form ajax reload" method="post" action="#">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <!--Shipping Address-->
                                <div class="block mb-3 shipping-address mb-4">
                                    <div class="block-content">
                                        <h3 class="title mb-3 text-uppercase">Shipping Address</h3>
                                        <p><a href="login.html"><u>Login</u></a> or <a href="register.html"><u>Register</u></a> for faster payment.</p>
                                        <fieldset>
                                            <div class="row">
                                                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="firstname" class="form-label">First Name <span class="required">*</span></label>
                                                    {{form.firstname}}
                                                </div>
                                                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="lastname" class="form-label">Last Name <span class="required">*</span></label>
                                                    {{form.lastname}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12">
                                                    <label for="address-1" class="form-label">Address <span class="required">*</span></label>
                                                    {{form.address}}
                                                </div>
                                                <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12">
                                                    {{form.subaddress}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="postcode" class="form-label">Postcode / ZIP <span class="required">*</span></label>
                                                    {{form.postcode}}
                                                </div>
                                                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="address_country1" class="form-label">Country <span class="required">*</span></label>
                                                    {{form.country}}
                                                    
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="address_State" class="form-label">State <span class="required">*</span></label>
                                                    {{form.state}}
                                                        
                                                </div>
                                                <div class="form-group col-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="address_province" class="form-label">Town / City <span class="required">*</span></label>
                                                    {{form.town}}
                                                        
                                                    
                                                </div>
                                         
                                            
                                        </fieldset>
                                    </div>
                                </div>
                                <!--End Shipping Address-->
                               
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                

                             <!--Cart Summary-->
                             <div class="cart-info">
                                <div class="cart-order-detail cart-col">
                                    <div class="row g-0 border-bottom pb-2">
                                        <span class="col-6 col-sm-6 cart-subtotal-title"><strong>Subtotal</strong></span>
                                        <span class="col-6 col-sm-6 cart-subtotal-title cart-subtotal text-end"><span id="checkout" class="money">{{ total }}</span></span>
                                    </div>
                                    
                                    <div class="row g-0 border-bottom py-2">
                                        <span class="col-6 col-sm-6 cart-subtotal-title"><strong>Shipping</strong></span>
                                        <span class="col-6 col-sm-6 cart-subtotal-title cart-subtotal text-end"><span class="money">Free shipping</span></span>
                                    </div>
                                    <div class="row g-0 pt-2">
                                        <span class="col-6 col-sm-6 cart-subtotal-title fs-6"><strong>Total</strong></span>
                                        <span class="col-6 col-sm-6 cart-subtotal-title fs-5 cart-subtotal text-end text-primary"><b class="money">{{ total }}</b></span>
                                    </div>

                                    <button id="cartCheckout" class="btn btn-lg my-4 checkout w-100 submit-btn">Place order</button>
                                    <div class="paymnet-img text-center"></div>
                                </div>                               
                            </div>
                            <!--Cart Summary-->
                            </div>
                        </div>
                        
                    </form>
                    
                    <!--End Checkout Content-->
                </div>
                <!--End Main Content-->
            </div>
            <!-- End Body Container -->


            <script>
                $(document).ready(function () {
                    $(".submit-btn").on("click ", function () {
                        $(".loading-container").show();
                        // Form info details
                        var firstname = $('input[name=firstname]').val();
                        var lastname = $('input[name=lastname]').val();
                        var address = $('input[name=address]').val();
                        var subaddress = $('input[name=subaddress]').val();
                        var pincode = $('input[name=pincode]').val();
                        var country = $('input[name=country]').val();
                        var state = $('input[name=state]').val();
                        var town = $('input[name=town]').val();
                        
                        // Validate the required fields
                        if (name && email && phone && location && text && service_heading) {
                            
                            $.ajax({
                                url: '/submit_form/',
                                method: "POST",
                                headers: {
                                    "X-CSRFToken": "{{ csrf_token }}"
                                },
                                data: {
                                    firstname:firstname,
                                    lastname:lastname,
                                    address:address,
                                    subaddress:subaddress,
                                    pincode:pincode,
                                    country:country,
                                    state:state,
                                    town:town,
                                },
                                success: function(response) {
                                    if (response.status == 1) { 
                                        console.log('response=',response.status);
                                        var whatsappMessage = encodeURIComponent("Enquiry For: " + service_heading + "\n\n" +)
                                                            "firstname: " + firstname + "\n" +
                                                            "lastname: " + lastname + "\n" +
                                                            "address: " + address + "\n" +
                                                            "subaddress: " + subaddress + "\n" +
                                                            "pincode: " + pincode + "\n" +
                                                            "country: " + country + "\n" +
                                                            "state: " + state + "\n" +
                                                            "town: " + town + "\n" +
                                                            
                        
                                
                                            // Send WhatsApp message
                                            var whatsappNumber = "9656949008";
                                            var whatsappURL = "https://wa.me/" + whatsappNumber + "?text=" + whatsappMessage;
                                        window.location.href = whatsappURL;
                        
                                    }
                                },
                                error: function(xhr, status, error) {
                                    $(".loading-container").hide();
                                }
                            });
                        } else {
                            // Show an error message for incomplete fields
                            alert("Please fill in all the required fields.");
                        }
                    });
                });
            </script>


            


{% endblock content %}


