{% extends "web/partials/base.html" %} 
{% load static %} 
{% block content %}

<!--Page Wrapper-->
<div class="page-wrapper">
  <!-- Body Container -->
  <div id="page-content">
    <!--Home Slideshow-->
    <section class="slideshow slideshow-wrapper">
      <div class="home-slideshow slick-arrow-dots circle-dots">
        <div class="slide">
          <div class="slideshow-wrap">
            <picture>
              <source
                media="(max-width:767px)"
                srcset="{% static 'web/images/slideshow/demo5-banner2.jpg' %}"
                width="1100"
                height="700"
              />
              <img
                src="{% static 'web/images/slideshow/demo5-banner2.jpg' %}"
                alt="slideshow"
                title=""
                width="1920"
                height="700"
              />
            </picture>
            <div class="container">
              <div class="slideshow-content slideshow-overlay middle-center">
                <div class="slideshow-content-in">
                  <div class="wrap-caption animation style4">
                    <p class="ss-small-title text-dark">
                      We are leading hand tools manufacturer
                    </p>
                    <h2 class="ss-mega-title text-dark">
                      High Performance <br />Industrial Tools
                    </h2>
                    <p class="ss-sub-title text-dark xs-hide">
                      Runs faster. Costs less and never breaks.
                    </p>
                    <div class="ss-btnWrap">
                      <a class="btn btn-secondary" href="{% url 'web:product' %}"
                        >Shop now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="slideshow-wrap">
            <picture>
              <source
                media="(max-width:767px)"
                srcset="{% static 'web/images/slideshow/demo5-banner1.jpg' %}"
                width="1100"
                height="700"
              />
              <img
                src="{% static 'web/images/slideshow/demo5-banner1.jpg' %}"
                alt="slideshow"
                title=""
                width="1920"
                height="700"
              />
            </picture>
            <div class="container">
              <div class="slideshow-content slideshow-overlay middle-center">
                <div class="slideshow-content-in">
                  <div class="wrap-caption animation style4">
                    <p class="ss-small-title text-dark">
                      Tools parts in the store
                    </p>
                    <h2 class="ss-mega-title text-dark">
                      Professional <br />Tools
                    </h2>
                    <p class="ss-sub-title text-dark xs-hide">
                      Power your tools. It is another excellent tool from Bosch
                    </p>
                    <div class="ss-btnWrap">
                      <a class="btn btn-primary" href="{% url 'web:product' %}"
                        >Order now</a
                      >
                      <a class="btn btn-secondary" href="{% url 'web:product' %}"
                        >Explore now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Home Slideshow-->

    <!--Popular Categories-->
    <section class="section collection-slider section-clr cs_1">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-sm-12 col-md-12">
            <div class="section-header">
              <h2>Shop by Categories</h2>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12">
            <div
              class="collection-slider-4items gp15 arwOut5 hov-arrow dots-hide"
            >
              {% for category in category %}
              <div class="category-item zoomscal-hov">
                <a href="{% url 'web:categories' category.id %}" class="category-link clr-none">
                  <div class="zoom-scal zoom-scal-nopb">
                    <img
                      class="blur-up lazyload"
                      data-src="{{category.category_image.url}}"
                      src="{{category.category_image.url}}"
                      alt="collection"
                      title=""
                      width="300"
                      height="300"
                    />
                  </div>
                  <div class="details mt-3 text-center">
                    <h4 class="category-title mb-0">
                      {{category.category_title}}
                    </h4>
                    <p class="counts">{{category.category_product_no}}</p>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Popular Categories-->

    <!--Products With Tabs-->
    <section class="section product-slider tab-slider-product pb-0">
      <div class="container">
          <div class="section-header d-none">
              <h2>Special Offers</h2>
              <p>Browse the huge variety of our best seller</p>
          </div>

          <div class="tabs-listing">
            

              
            
              
              <ul class="nav nav-tabs style1 justify-content-center" id="productTabs" role="tablist">  
                          {% for category in category %}
                  <li class="nav-item" role="presentation">
                      <button class="nav-link head-font {% if forloop.counter == 1 %}active{% endif %} " id="{{category.category_title|slugify}}-tab" data-bs-toggle="tab" data-bs-target="#{{category.category_title|slugify}}" type="button" role="tab" aria-controls="{{category.category_title|slugify}}" aria-selected="true">{{category.category_title}}</button>
                  </li>
                  {% endfor %}
              </ul>

              <div class="tab-content" id="productTabsContent">
                
                {% for product in product %}
                  
                
                  
                  <div class="tab-pane show {% if forloop.counter == 1 %}active{% endif %}" id="{{product.category.category_title|slugify}}" role="tabpanel" aria-labelledby="{{product.category.category_title|slugify}}-tab">
                      <!--Product Grid-->
                      <div class="grid-products grid-view-items">
                          <div class="row col-row product-options row-cols-xl-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-3 row-cols-2">                                   
                              <div class="item col-item">
                                  <div class="product-box">
                                      <!-- Start Product Image -->
                                      <div class="product-image">
                                          <!-- Start Product Image -->
                                          <a href="{% url 'web:product-detail'  product.id %}" class="product-img"><img class="blur-up lazyload" src="{{product.product_image.url}}" data-src="{{product.product_image.url}}" alt="Product" title="Product" width="625" height="781" /></a>
                                          <div class="button-set style2">
                                              <!--Cart Button-->
                                              <a href="{% url 'web:cart_add' product.id %}" class="btn-icon addtocart quick-shop-modal" >
                                                  <span class="icon-wrap d-flex-justify-center h-100 w-100" title="Quick Shop"><i class="icon anm anm-cart-l"></i><span class="text">Quick Shop</span></span>
                                              </a>
                                              <!--End Cart Button-->
                                              <!--Quick View Button-->
                                              <a href="#quickview-modal" class="btn-icon quickview quick-view-modal" data-bs-toggle="modal" data-bs-target="#quickview_modal">
                                                  <span class="icon-wrap d-flex-justify-center h-100 w-100" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><i class="icon anm anm-search-plus-l"></i><span class="text">Quick View</span></span>
                                              </a>
                                              <!--End Quick View Button-->
                                              <!--Wishlist Button-->
                                              <a href="#" class="btn-icon wishlist" data-bs-toggle="tooltip" data-bs-placement="top" title="Add To Wishlist"><i class="icon anm anm-heart-l"></i><span class="text">Add To Wishlist</span></a>
                                              <!--End Wishlist Button-->
                                              <!--Compare Button-->
                                              <a href="#" class="btn-icon compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to Compare"><i class="icon anm anm-random-r"></i><span class="text">Add to Compare</span></a>
                                              <!--End Compare Button-->
                                          </div>
                                          <!--End Product Button-->
                                      </div>
                                      <!-- End Product Image -->
                                      <!-- Start Product Details -->
                                      <div class="product-details text-left">
                                          <!--Product Vendor-->
                                          <div class="product-vendor">{{product.category}}</div>
                                          <!--End Product Vendor-->
                                          <!-- Product Name -->
                                          <div class="product-name">
                                              <a href="product-layout1.html">{{product.product_name}}</a>
                                          </div>
                                          <!-- End Product Name -->
                                          <!-- Product Price -->
                                          <div class="product-price">
                                              <span class="price old-price">{{product.product_del_price}}</span><span class="price">{{product.product_price}}</span>
                                          </div>
                                          <!-- End Product Price -->
                                          <!-- Product Review -->
                                          <div class="product-review">
                                              <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star-o"></i>
                                              <span class="caption hidden ms-1">3 Reviews</span>
                                          </div>
                                          <!-- End Product Review -->
                                      </div>
                                      <!-- End product details -->
                                  </div>
                              </div>                                                             
                          </div>  

                          <div class="view-collection text-center mt-4 mt-md-5">
                              <a href="{% url 'web:product' %}" class="btn btn-primary btn-lg">View Collection</a>
                          </div>
                      </div>
                      <!--End Product Grid-->
                  </div>
                  {% endfor %}
              </div>
          </div>
      </div>
  </section>
  <!--End Products With Tabs-->

    <!--Promo bar-->
    <section class="section pb-0">
      <div class="container">
        <div class="section-header d-none">
          <h2>Promotion</h2>
        </div>

        <div class="top-info-bar style1 promoMsg">
          <div class="topBar-slider-style1">
            <div class="item text-center d-flex d-flex-justify-center">
              Best Deals and Lowest Price on Top Brands&nbsp;:&nbsp;<b
                >Get 25% Flat Off on Tools</b
              >
            </div>
            <div class="item text-center d-flex d-flex-justify-center">
              Leading&nbsp;<b>Hand Tools</b> &nbsp;Manufacturer. All Kinds
              Of&nbsp;<b>Safety Tools</b>&nbsp;Available.
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Promo bar-->

    <!--Blog Post-->
    <section class="section home-blog-post">
      <div class="container">
        <div class="section-header">
          <h2>Latest from our Blog</h2>
        </div>

        <div class="blog-slider-3items blog-post-style2 gp15 arwOut5 hov-arrow">
          {% for obj in blog %}
          <div class="blog-item">
            <div class="blog-article zoomscal-hov bg-white">
              <div class="blog-img">
                <a class="featured-image zoom-scal m-0" href="{% url 'web:blog_detail' obj.id %}"
                  ><img
                    class="blur-up lazyload"
                    data-src="{{obj.image.url}}"
                    src="{{obj.image.url}}"
                    alt="New shop collection our shop"
                    width="740"
                    height="410"
                /></a>
              </div>
              <div class="blog-content py-4 pb-0">
                <ul class="publish-detail d-flex-wrap text-uppercase mb-2">
                  <li>
                    <i class="icon anm anm-user-al"></i>
                    <span>{{obj.author}}</span>
                  </li>
                  <li>
                    <i class="icon anm anm-calendar"></i>
                    <time datetime="2023-02-14">{{obj.date}}</time>
                  </li>
                </ul>
                <h2 class="h3 m-0 text-none">
                  <a href="blog-details.html">{{obj.title}}</a>
                </h2>
                <div
                  class="blog-bottom d-flex-center justify-content-between mt-3"
                >
                  <a
                    href="{% url 'web:blog_detail' obj.id %}"
                    class="text-link text-decoration-none text-uppercase"
                    >Read More<i class="icon anm anm-arw-right ms-2"></i
                  ></a>
                  <a href="#" class="text-link text-decoration-none"
                    ><i class="icon anm anm-comments-l me-2"></i>12</a
                  >
                </div>
              </div>
            </div>
          </div>
          {% comment %}
          <div class="blog-item">
            <div class="blog-article zoomscal-hov bg-white">
              <div class="blog-img">
                <a class="featured-image zoom-scal m-0" href="blog-details.html"
                  ><img
                    class="blur-up lazyload"
                    data-src="{% static 'web/images/blog/demo5-post2.jpg' %}"
                    src="{% static 'web/images/blog/demo5-post2.jpg' %}"
                    alt="Gift ideas for everyone"
                    width="740"
                    height="410"
                /></a>
              </div>
              <div class="blog-content py-4 pb-0">
                <ul class="publish-detail d-flex-wrap text-uppercase mb-2">
                  <li>
                    <i class="icon anm anm-user-al"></i>
                    <span>Mark Rogers</span>
                  </li>
                  <li>
                    <i class="icon anm anm-calendar"></i>
                    <time datetime="2023-02-14">Jan 24, 2023</time>
                  </li>
                </ul>
                <h2 class="h3 m-0 text-none">
                  <a href="blog-details.html">Best gift ideas for everyone</a>
                </h2>
                <div
                  class="blog-bottom d-flex-center justify-content-between mt-3"
                >
                  <a
                    href="blog-details.html"
                    class="text-link text-decoration-none text-uppercase"
                    >Read More<i class="icon anm anm-arw-right ms-2"></i
                  ></a>
                  <a href="#" class="text-link text-decoration-none"
                    ><i class="icon anm anm-comments-l me-2"></i>12</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="blog-item">
            <div class="blog-article zoomscal-hov bg-white">
              <div class="blog-img">
                <a class="featured-image zoom-scal m-0" href="blog-details.html"
                  ><img
                    class="blur-up lazyload"
                    data-src="{% static 'web/images/blog/demo5-post3.jpg' %}"
                    src="{% static 'web/images/blog/demo5-post3.jpg' %}"
                    alt="Sales with best collection"
                    width="740"
                    height="410"
                /></a>
              </div>
              <div class="blog-content py-4 pb-0">
                <ul class="publish-detail d-flex-wrap text-uppercase mb-2">
                  <li>
                    <i class="icon anm anm-user-al"></i>
                    <span>Mark Rogers</span>
                  </li>
                  <li>
                    <i class="icon anm anm-calendar"></i>
                    <time datetime="2023-02-14">Feb 14, 2023</time>
                  </li>
                </ul>
                <h2 class="h3 m-0 text-none">
                  <a href="blog-details.html">Sales with best collection</a>
                </h2>
                <div
                  class="blog-bottom d-flex-center justify-content-between mt-3"
                >
                  <a
                    href="blog-details.html"
                    class="text-link text-decoration-none text-uppercase"
                    >Read More<i class="icon anm anm-arw-right ms-2"></i
                  ></a>
                  <a href="#" class="text-link text-decoration-none"
                    ><i class="icon anm anm-comments-l me-2"></i>12</a
                  >
                </div>
              </div>
            </div>
          </div>
          {% endcomment %} {% endfor %}
        </div>
      </div>
    </section>
    <!--End Blog Post-->

    <!--Service Section-->
    <section class="section service-section section-clr mt-m6">
      <div class="container">
        <div
          class="service-info text-center service-slider-5items gp15 arwOut5 slick-arrow-dots"
        >
          <div class="service-wrap">
            <div class="service-icon mb-2 pb-1">
              <i class="icon anm anm-check-badge-r"></i>
            </div>
            <div class="service-content">
              <h3 class="fs-5 mb-2">Products Quality</h3>
              <span class="text-muted"
                >Comprehensive quality control and affordable prices</span
              >
            </div>
          </div>
          <div class="service-wrap">
            <div class="service-icon mb-2 pb-1">
              <i class="icon anm anm-home-r"></i>
            </div>
            <div class="service-content">
              <h3 class="fs-5 mb-2">Global Warehouse</h3>
              <span class="text-muted"
                >Shop from 20+ warehouses world wide.</span
              >
            </div>
          </div>
          <div class="service-wrap">
            <div class="service-icon mb-2 pb-1">
              <i class="icon anm anm-truck-r"></i>
            </div>
            <div class="service-content">
              <h3 class="fs-5 mb-2">Fast Shipping</h3>
              <span class="text-muted"
                >Fast and convenient door to door delivery</span
              >
            </div>
          </div>
          <div class="service-wrap">
            <div class="service-icon mb-2 pb-1">
              <i class="icon anm anm-lock-ar"></i>
            </div>
            <div class="service-content">
              <h3 class="fs-5 mb-2">Payment Security</h3>
              <span class="text-muted"
                >More than 8 different secure payment methods</span
              >
            </div>
          </div>
          <div class="service-wrap">
            <div class="service-icon mb-2 pb-1">
              <i class="icon anm anm-phone-call-l"></i>
            </div>
            <div class="service-content">
              <h3 class="fs-5 mb-2">Dedicated Support</h3>
              <span class="text-muted"
                >24/7 Customer Service - We're here & happy to help!</span
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Service Section-->
  </div>
  <!-- End Body Container -->

  {% endblock content %}
</div>
