{% extends "web/partials/base.html" %} 
{% load static %} 
{% block content %}


        <!--Page Wrapper-->
        <div class="page-wrapper">
            <!-- Body Container -->
            <div id="page-content"> 
                <!--Page Header-->
                <div class="page-header text-center">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <!--Breadcrumbs-->
                                <div class="breadcrumbs"><a href="index.html" title="Back to the home page">Home</a><span class="main-title fw-bold"><i class="icon anm anm-angle-right-l"></i>Product Layout5</span></div>
                                <!--End Breadcrumbs-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Page Header-->

                <!--Main Content-->
                <div class="container">     
                    <!--Product Content-->
                    <div class="product-single">
                        <div class="row">
                            <div class="col-lg-9 col-md-12 col-sm-12 col-12 product-layout-img-info">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 product-layout-img mb-4 mb-md-0">
                                        <!-- Product Horizontal -->
                                        <div class="product-details-img product-horizontal-style">
                                            <!-- Product Main -->
                                            <div class="zoompro-wrap rounded-0">
                                                <!-- Product Image -->
                                                <div class="zoompro-span"><img id="zoompro" class="zoompro rounded-0" src="assets/images/products/product1.jpg" data-zoom-image="assets/images/products/product1.jpg" alt="product" width="625" height="808" /></div>
                                                <!-- End Product Image -->
                                                <!-- Product Label -->
                                                <div class="product-labels"><span class="lbl pr-label4">Best seller</span></div>
                                                <!-- End Product Label -->
                                                <!-- Product Buttons -->
                                                <div class="product-buttons">
                                                    <a href="#productVideo-modal" class="btn popup-video" data-bs-toggle="modal" data-bs-target="#productVideo_modal">
                                                        <span class="icon-wrap d-flex-justify-center h-100 w-100" data-bs-toggle="tooltip" data-bs-placement="top" title="Watch Video"><i class="icon anm anm-video-r"></i></span>
                                                    </a>
                                                    <a href="#" class="btn prlightbox" data-bs-toggle="tooltip" data-bs-placement="top" title="Zoom Image"><i class="icon anm anm-expand-l-arrows"></i></a>
                                                </div>
                                                <!-- End Product Buttons -->
                                            </div>
                                            <!-- End Product Main -->

                                            <!-- Product Thumb -->
                                            <div class="product-thumb product-horizontal-thumb mt-3">
                                                <div id="gallery" class="product-thumb-horizontal">
                                                    <a data-image="assets/images/products/product1.jpg" data-zoom-image="assets/images/products/product1.jpg" class="slick-slide slick-cloned active">
                                                        <img class="blur-up lazyload rounded-0" data-src="assets/images/products/product1.jpg" src="assets/images/products/product1.jpg" alt="product" width="625" height="808" />
                                                    </a>
                                                    <a data-image="assets/images/products/product1-1.jpg" data-zoom-image="assets/images/products/product1-1.jpg" class="slick-slide slick-cloned">
                                                        <img class="blur-up lazyload rounded-0" data-src="assets/images/products/product1-1.jpg" src="assets/images/products/product1-1.jpg" alt="product" width="625" height="808" />
                                                    </a>
                                                    <a data-image="assets/images/products/product1-2.jpg" data-zoom-image="assets/images/products/product1-2.jpg" class="slick-slide slick-cloned">
                                                        <img class="blur-up lazyload rounded-0" data-src="assets/images/products/product1-2.jpg" src="assets/images/products/product1-2.jpg" alt="product" width="625" height="808" />
                                                    </a>
                                                    <a data-image="assets/images/products/product1-3.jpg" data-zoom-image="assets/images/products/product1-3.jpg" class="slick-slide slick-cloned">
                                                        <img class="blur-up lazyload rounded-0" data-src="assets/images/products/product1-3.jpg" src="assets/images/products/product1-3.jpg" alt="product" width="625" height="808" />
                                                    </a>
                                                    <a data-image="assets/images/products/product1-4.jpg" data-zoom-image="assets/images/products/product1-4.jpg" class="slick-slide slick-cloned">
                                                        <img class="blur-up lazyload rounded-0" data-src="assets/images/products/product1-4.jpg" src="assets/images/products/product1-4.jpg" alt="product" width="625" height="808" />
                                                    </a>
                                                    <a data-image="assets/images/products/product1-5.jpg" data-zoom-image="assets/images/products/product1-5.jpg" class="slick-slide slick-cloned">
                                                        <img class="blur-up lazyload rounded-0" data-src="assets/images/products/product1-5.jpg" src="assets/images/products/product1-5.jpg" alt="product" width="625" height="808" />
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End Product Thumb -->

                                            <!-- Product Gallery -->
                                            <div class="lightboximages">
                                                <a href="assets/images/products/product1.jpg" data-size="1000x1280"></a>
                                                <a href="assets/images/products/product1-1.jpg" data-size="1000x1280"></a>
                                                <a href="assets/images/products/product1-2.jpg" data-size="1000x1280"></a>
                                                <a href="assets/images/products/product1-3.jpg" data-size="1000x1280"></a>
                                                <a href="assets/images/products/product1-4.jpg" data-size="1000x1280"></a>
                                                <a href="assets/images/products/product1-5.jpg" data-size="1000x1280"></a>
                                            </div>
                                            <!-- End Product Gallery -->
                                        </div>
                                        <!-- End Product Horizontal -->
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 product-layout-info">
                                        <!-- Product Details -->
                                        <div class="product-single-meta">
                                            <h2 class="product-main-title">Product Layout Style5</h2>
                                            <!-- Product Reviews -->
                                            <div class="product-review d-flex-center mb-3">
                                                <div class="reviewStar d-flex-center"><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star-o"></i><span class="caption ms-2">8 Reviews</span></div>
                                                <a class="reviewLink d-flex-center" href="#reviews">Write a Review</a>
                                            </div>
                                            <!-- End Product Reviews -->
                                            <!-- Product Price -->
                                            <div class="product-price d-flex-center my-3">
                                                <span class="price">$179.00</span>
                                            </div>
                                            <!-- End Product Price -->
                                            <!-- Product Info -->
                                            <div class="product-info">
                                                <p class="product-stock d-flex">Availability:
                                                    <span class="pro-stockLbl ps-0">
                                                        <span class="d-flex-center stockLbl instock text-uppercase">In stock</span>
                                                    </span>
                                                </p>
                                                <p class="product-vendor">Vendor:<span class="text"><a href="#">HV</a></span></p>  
                                                <p class="product-type">Product Type:<span class="text">Jeans</span></p> 
                                                <p class="product-sku">SKU:<span class="text">RT12456</span></p>
                                            </div>
                                            <!-- End Product Info -->
                                            <!-- Product Info -->
                                            <div class="userViewMsg featureText mt-3" data-user="20" data-time="11000"><i class="icon anm anm-eye-r"></i><b class="uersView">21</b> People are Looking for this Product</div> 
                                            <div class="shippingMsg featureText"><i class="icon anm anm-clock-r"></i>Estimated Delivery Between <b id="fromDate">Wed, May 1</b> and <b id="toDate">Tue, May 7</b>.</div>
                                            <!-- End Product Info -->
                                        </div>
                                        <!-- End Product Details -->

                                        <!-- Product Form -->
                                        <form method="post" action="#" class="product-form product-form-border">
                                            <!-- Swatches -->
                                            <div class="product-swatches-option">
                                                <!-- Swatches Color -->
                                                <div class="product-item swatches-image w-100 mb-3 swatch-0 option1" data-option-index="0">
                                                    <label class="label d-flex align-items-center">Color:<span class="slVariant ms-1 fw-bold">Blue</span></label>
                                                    <ul class="d-flex-wrap pt-1 clearfix">
                                                        <li class="customRadio me-3 mb-0">
                                                            <input name="swatch_clr_radio" id="blue" value="blue" type="radio" checked="checked" />
                                                            <label for="blue" class="mb-0">Blue</label>
                                                        </li>
                                                        <li class="customRadio me-3 mb-0">
                                                            <input name="swatch_clr_radio" id="purple" value="purple" type="radio" />
                                                            <label for="purple" class="mb-0">Purple</label>
                                                        </li>
                                                        <li class="customRadio me-3 mb-0">
                                                            <input name="swatch_clr_radio" id="green" value="green" type="radio" />
                                                            <label for="green" class="mb-0">Green</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- End Swatches Color -->
                                                <!-- Swatches Size -->
                                                <div class="product-item swatches-size w-100 mb-4 swatch-1 option2" data-option-index="1">
                                                    <label class="label d-flex align-items-center">Size:<span class="slVariant ms-1 fw-bold">S</span></label>
                                                    <ul class="d-flex-wrap pt-1 clearfix">
                                                        <li class="customRadio me-3 mb-0">
                                                            <input name="swatch_size_radio" id="xs" value="xs" type="radio" checked="checked" />
                                                            <label for="xs" class="mb-0">XS</label>
                                                        </li>
                                                        <li class="customRadio me-3 mb-0">
                                                            <input name="swatch_size_radio" id="s" value="s" type="radio" />
                                                            <label for="s" class="mb-0">S</label>
                                                        </li>
                                                        <li class="customRadio me-3 mb-0">
                                                            <input name="swatch_size_radio" id="m" value="m" type="radio" />
                                                            <label for="m" class="mb-0">M</label>
                                                        </li>
                                                        <li class="customRadio me-3 mb-0">
                                                            <input name="swatch_size_radio" id="l" value="l" type="radio" />
                                                            <label for="l" class="mb-0">L</label>
                                                        </li>
                                                        <li class="customRadio me-3 mb-0">
                                                            <input name="swatch_size_radio" id="xl" value="xl" type="radio" />
                                                            <label for="xl" class="mb-0">XL</label>
                                                        </li>
                                                    </ul>
                                                </div>                                
                                                <!-- End Swatches Size -->
                                            </div>                                 
                                            <!-- End Swatches -->

                                            <!-- Product Action -->
                                            <div class="product-action w-100 d-flex-wrap my-3 my-md-4">
                                                <!-- Product Quantity -->
                                                <div class="product-form-quantity d-flex-center">
                                                    <div class="qtyField">
                                                        <a class="qtyBtn minus" href="#;"><i class="icon anm anm-minus-r"></i></a>
                                                        <input type="text" name="quantity" value="1" class="product-form-input qty" />
                                                        <a class="qtyBtn plus" href="#;"><i class="icon anm anm-plus-r"></i></a>
                                                    </div>
                                                </div>
                                                <!-- End Product Quantity -->
                                                <!-- Product Add -->
                                                <div class="product-form-submit addcart fl-1 ms-3">
                                                    <button type="submit" name="add" class="btn btn-secondary product-form-cart-submit"><span>Add to cart</span></button>
                                                    <button type="submit" name="add" class="btn btn-secondary product-form-sold-out d-none" disabled="disabled">
                                                        <i class="icon anm anm-cart-l me-2"></i> <span>Out of stock</span>
                                                    </button>
                                                    <button type="submit" name="add" class="btn btn-secondary product-form-pre-order d-none">
                                                        <i class="icon anm anm-cart-l me-2"></i> <span>Pre-order Now</span>
                                                    </button>
                                                </div>
                                                <!-- Product Add -->
                                                <!-- Product Buy -->
                                                <div class="product-form-submit buyit d-flex w-100 mt-3">
                                                    <button type="submit" class="btn btn-primary proceed-to-checkout"><span>Buy it now</span></button>

                                                    <a href="wishlist-style1.html" class="btn btn-secondary wishlist-submit w-auto p-3 ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to Wishlist">
                                                        <i class="icon anm anm-heart-l fs-6"></i>
                                                    </a>
                                                </div>
                                                <!-- End Product Buy -->
                                            </div>
                                            <!-- End Product Action -->

                                            <!-- Product Info link -->
                                            <p class="infolinks d-flex-center justify-content-between">
                                                <a class="text-link compare" href="compare-style1.html"><i class="icon anm anm-sync-ar me-2"></i> <span>Add to Compare</span></a>
                                                <a href="#shippingInfo-modal" class="text-link shippingInfo" data-bs-toggle="modal" data-bs-target="#shippingInfo_modal"><i class="icon anm anm-paper-l-plane me-2"></i> <span>Delivery &amp; Returns</span></a>
                                                <a href="#productInquiry-modal" class="text-link emaillink me-0" data-bs-toggle="modal" data-bs-target="#productInquiry_modal"><i class="icon anm anm-question-cil me-2"></i> <span>Ask A Question</span></a>
                                            </p>
                                            <!-- End Product Info link -->
                                        </form>
                                        <!-- End Product Form -->

                                        <!-- Social Sharing -->
                                        <div class="social-sharing d-flex-center mt-2 lh-lg">
                                            <span class="sharing-lbl fw-600">Share :</span>
                                            <a href="#" class="d-flex-center btn btn-link btn--share share-facebook"><i class="icon anm anm-facebook-f"></i><span class="share-title">Facebook</span></a>
                                            <a href="#" class="d-flex-center btn btn-link btn--share share-twitter"><i class="icon anm anm-twitter"></i><span class="share-title">Tweet</span></a>
                                            <a href="#" class="d-flex-center btn btn-link btn--share share-pinterest"><i class="icon anm anm-pinterest-p"></i> <span class="share-title">Pin it</span></a>
                                            <a href="#" class="d-flex-center btn btn-link btn--share share-linkedin"><i class="icon anm anm-linkedin-in"></i><span class="share-title">Linkedin</span></a>
                                            <a href="#" class="d-flex-center btn btn-link btn--share share-email"><i class="icon anm anm-envelope-l"></i><span class="share-title">Email</span></a>
                                        </div>
                                        <!-- End Social Sharing -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-12 col-sm-12 col-12 product-sidebar sidebar sidebar-bg">
                                <div class="sidebar-tags sidebar-sticky clearfix mt-4 mt-lg-0">
                                    <!--Store Feature-->
                                    <div class="sidebar-widget clearfix">
                                        <div class="widget-content pt-0 mt-0 border-0">
                                            <div class="store-info-item d-flex align-items-center">
                                                <div class="icon me-3"><i class="icon anm anm-truck-r fs-5"></i></div>
                                                <div class="content">
                                                    <h5 class="title text-transform-none">Free Shipping & Returns</h5>
                                                    <p class="text text-muted text-small">Free shipping on order $99</p>
                                                </div>
                                            </div>
                                            <div class="store-info-item d-flex align-items-center">
                                                <div class="icon me-3"><i class="icon anm anm-lock-ar fs-4"></i></div>
                                                <div class="content">
                                                    <h5 class="title text-transform-none">Secured Payment</h5>
                                                    <p class="text text-muted text-small">We accept all major credit cards.</p>
                                                </div>
                                            </div>
                                            <div class="store-info-item d-flex align-items-center">
                                                <div class="icon me-3"><i class="icon anm anm-phone-call-l fs-4"></i></div>
                                                <div class="content">
                                                    <h5 class="title text-transform-none">Online Support</h5>
                                                    <p class="text text-muted text-small">We support online 24/7 on day.</p>
                                                </div>
                                            </div>
                                            <div class="store-info-item d-flex align-items-center">
                                                <div class="icon me-3"><i class="icon anm anm-redo fs-4"></i></div>
                                                <div class="content">
                                                    <h5 class="title text-transform-none">30 Days Return</h5>
                                                    <p class="text text-muted text-small">30-days free return policy.</p>
                                                </div>
                                            </div>
                                        </div>                                      
                                    </div>
                                    <!--End Store Feature-->
                                    <!--Weekly Bestsellers-->
                                    <div class="sidebar-widget clearfix">
                                        <div class="widget-title"><h2>Weekly Bestsellers</h2></div>
                                        <div class="widget-content">
                                            <div class="list list-sidebar-products">
                                                <div class="mini-list-item d-flex w-100 clearfix">
                                                    <div class="mini-image"><a class="item-link" href="product-layout1.html"><img class="primary blur-up lazyload" data-src="assets/images/products/product1-120x170.jpg" src="assets/images/products/product1-120x170.jpg" alt="image" title="product" width="120" height="170"></a></div>
                                                    <div class="ms-3 details">
                                                        <div class="product-name"><a class="item-title" href="product-layout1.html">Oxford Cuban Shirt</a></div>
                                                        <div class="product-price"><span class="old-price">$114.00</span><span class="price">$99.00</span></div>
                                                        <div class="product-review d-flex align-items-center justify-content-start">
                                                            <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star-o"></i><i class="icon anm anm-star-o"></i>
                                                            <span class="caption hidden ms-2">3 reviews</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mini-list-item d-flex w-100 clearfix">
                                                    <div class="mini-image"><a class="item-link" href="product-layout1.html"><img class="primary blur-up lazyload" data-src="assets/images/products/product2-120x170.jpg" src="assets/images/products/product2-120x170.jpg" alt="image" title="product" width="120" height="170"></a></div>
                                                    <div class="ms-3 details">
                                                        <div class="product-name"><a class="item-title" href="product-layout1.html">Cuff Beanie Cap</a></div>
                                                        <div class="product-price"><span class="price">$128.00</span></div>
                                                        <div class="product-review d-flex align-items-center justify-content-start">
                                                            <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i>
                                                            <span class="caption hidden ms-2">9 reviews</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mini-list-item d-flex w-100 clearfix">
                                                    <div class="mini-image"><a class="item-link" href="product-layout1.html"><img class="primary blur-up lazyload" data-src="assets/images/products/product3-120x170.jpg" src="assets/images/products/product3-120x170.jpg" alt="image" title="product" width="120" height="170"></a></div>
                                                    <div class="ms-3 details">
                                                        <div class="product-name"><a class="item-title" href="product-layout1.html">Flannel Collar Shirt</a></div>
                                                        <div class="product-price"><span class="price">$99.00</span></div>
                                                        <div class="product-review d-flex align-items-center justify-content-start">
                                                            <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star-o"></i>
                                                            <span class="caption hidden ms-2">30 reviews</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Weekly Bestsellers-->
                                </div>
                            </div>
                        </div>  
                    </div>
                    <!--Product Content-->

                    <!--Product Nav-->
                    <a href="product-layout4.html" class="product-nav prev-pro clr-none d-flex-center justify-content-between" title="Previous Product">
                        <span class="details">
                            <span class="name">Oxford Cuban Shirt</span>
                            <span class="price">$99.00</span>
                        </span>
                        <span class="img"><img class="rounded-0 rounded-start-0" src="assets/images/products/product3-120x170.jpg" alt="product" width="120" height="170" /></span>
                    </a>
                    <a href="product-layout6.html" class="product-nav next-pro clr-none d-flex-center justify-content-between" title="Next Product">
                        <span class="img"><img class="rounded-0 rounded-end-0" src="assets/images/products/product5-120x170.jpg" alt="product" width="120" height="170" /></span>
                        <span class="details">
                            <span class="name">Cuff Beanie Cap</span>
                            <span class="price">$128</span>
                        </span>
                    </a>
                    <!--End Product Nav-->

                    
{% endblock %}