{% extends "web/partials/base.html" %}
{% load static %}
{% block content %}

        <!--Page Wrapper-->
        <div class="page-wrapper">
            

            <!-- Body Container -->
            <div id="page-content">
                <!--Page Header-->
                <div class="page-header text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between align-items-center">
                                <div class="page-title"><h1>Shop Grid View</h1></div>
                                <!--Breadcrumbs-->
                                <div class="breadcrumbs"><a href="index.html" title="Back to the home page">Home</a><span class="title"><i class="icon anm anm-angle-right-l"></i>Shop</span><span class="main-title"><i class="icon anm anm-angle-right-l"></i>Shop Grid View</span></div>
                                <!--End Breadcrumbs-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Page Header-->

                <!--Main Content-->
                <div class="container">
                    

                    <!--Toolbar-->
                    <div class="toolbar toolbar-wrapper shop-toolbar">
                        <div class="row align-items-center">
                            
                            
                            <div class="col-8 col-sm-6 col-md-4 col-lg-4 text-right filters-toolbar-item d-flex justify-content-end order-2 order-sm-2">
                                
                                <div class="filters-item d-flex align-items-center ms-2 ms-lg-3">
                                    <label for="SortBy" class="mb-0 me-2 text-nowrap d-none">Sort by:</label>
                                    <form id="filterForm" method="GET" action="{% url 'web:product' %}">
                                        <select name="category" id="SortBy" class="filters-toolbar-sort">
                                            <option value="" selected="selected">{{ category.category_title }}</option>
                                            {% for category in categories %}
                                                <option value="{{ category.id }}">{{ category.category_title }}</option>
                                            {% endfor %}
                                        </select>
                                        <button type="submit" style="display: none;" id="filterButton">Filter</button>
                                    </form>
                                    
                                    <!-- <select name="SortBy" id="SortBy" class="filters-toolbar-sort">
                                        <option value="featured" selected="selected">Featured</option>
                                        {% for category in category %}
                                        <option value="best-selling">{{category.category_title}}</option>
                                        {% comment %} <option value="title-ascending">Alphabetically, A-Z</option>
                                        <option value="title-descending">Alphabetically, Z-A</option>
                                        <option value="price-ascending">Price, low to high</option>
                                        <option value="price-descending">Price, high to low</option>
                                        <option value="created-ascending">Date, old to new</option>
                                        <option value="created-descending">Date, new to old</option> {% endcomment %} 
                                        {% endfor %}
                                    </select> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Toolbar-->

                    <div class="row">
                        <!--Products-->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                            <!--Product Grid-->
                            <div class="grid-products grid-view-items">
                                <div class="row col-row product-options row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-3 row-cols-2">
                                     {% for product in products %}                                  
                                     <div class="item col-item">
                                        <div class="product-box">
                                            <!-- Start Product Image -->
                                            <div class="product-image">
                                                <!-- Start Product Image -->
                                                <a href="{% url 'web:product-detail'  product.id %}" class="product-img"><img class="blur-up lazyload" src="{{product.product_image.url}}" data-src="{{product.product_image.url}}" alt="Product" title="Product" width="625" height="781" /></a>
                                                <div class="button-set style2">
                                                    <!--Cart Button-->
                                                    <a href="#" class="btn-icon addtocart quick-shop-modal" data-bs-toggle="modal" data-bs-target="#quickshop_modal">
                                                        <span class="icon-wrap d-flex-justify-center h-100 w-100" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick Shop"><i class="icon anm anm-cart-l"></i><span class="text">Quick Shop</span></span>
                                                    </a>
                                                    <!--End Cart Button-->
                                                    <!--Quick View Button-->
                                                    <a href="#quickview-modal" class="btn-icon quickview quick-view-modal" data-bs-toggle="modal" data-bs-target="#quickview_modal">
                                                        <span class="icon-wrap d-flex-justify-center h-100 w-100" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View"><i class="icon anm anm-search-plus-l"></i><span class="text">Quick View</span></span>
                                                    </a>
                                                    <!--End Quick View Button-->
                                                    <!--Wishlist Button-->
                                                    <a href="wishlist-style2.html" class="btn-icon wishlist" data-bs-toggle="tooltip" data-bs-placement="top" title="Add To Wishlist"><i class="icon anm anm-heart-l"></i><span class="text">Add To Wishlist</span></a>
                                                    <!--End Wishlist Button-->
                                                    <!--Compare Button-->
                                                    <a href="compare-style2.html" class="btn-icon compare" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to Compare"><i class="icon anm anm-random-r"></i><span class="text">Add to Compare</span></a>
                                                    <!--End Compare Button-->
                                                </div>
                                                <!--End Product Button-->
                                            </div>
                                            <!-- End Product Image -->
                                            <!-- Start Product Details -->
                                            <div class="product-details text-left">
                                                <!--Product Vendor-->
                                                <div class="product-vendor">Tools</div>
                                                <!--End Product Vendor-->
                                                <!-- Product Name -->
                                                <div class="product-name">
                                                    <a href="product-layout1.html">{{product.product_name}}</a>
                                                </div>
                                                <!-- End Product Name -->
                                                <!-- Product Price -->
                                                <div class="product-price">
                                                    <span class="price old-price">$114.00</span><span class="price">$99.00</span>
                                                </div>
                                                <!-- End Product Price -->
                                                <!-- Product Review -->
                                                <div class="product-review">
                                                    <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star-o"></i>
                                                    <span class="caption hidden ms-1">3 Reviews</span>
                                                </div>
                                                <!-- End Product Review -->
                                            </div>
                                            <!-- End product details -->
                                        </div>
                                    </div>
                                    
                                    {% endfor %}
                                </div>

                                <!-- Pagination -->
                                <nav class="clearfix pagination-bottom">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item disabled"><a class="page-link" href="#"><i class="icon anm anm-angle-left-l"></i></a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#"><i class="icon anm anm-angle-right-l"></i></a></li>
                                    </ul>
                                </nav>
                                <!-- End Pagination -->
                            </div>
                            <!--End Product Grid-->
                        </div>
                        <!--End Products-->
                    </div>
                </div>
                <!--End Main Content-->
            </div>
            <!-- End Body Container -->

            <script>
                document.getElementById('SortBy').addEventListener('change', function() {
                    document.getElementById('filterButton').click();
                });
            </script>
            

{% endblock content %}
            
