{% load static %}
<!--Header-->
<header class="header mih-75 d-flex align-items-center header-5 header-fixed">
    <div class="container-fluid">        
        <div class="row">
            <!--Logo-->
            <div class="logo col-4 col-sm-4 col-md-4 col-lg-1 col-xxl-1 align-self-center">
                <a class="logoImg" href="{% url 'web:index' %}"><img src="{% static 'web/images/logo-tools.png' %}" alt="Hema Multipurpose Html Template" title="Hema Multipurpose Html Template" width="149" height="39" /></a>
            </div>
            <!--End Logo-->
            <!--Menu-->
            <div class="col-1 col-sm-1 col-md-1 col-lg-6 col-xxl-6 align-self-center d-menu-col hdr-menu-left menu-position-right">
                <nav class="navigation ps-lg-4 ps-xl-3" id="AccessibleNav">
                    <ul id="siteNav" class="site-nav medium right">
                        <li class="lvl1 parent dropdown"><a href="{% url 'web:index' %}">Home</a>
                            
                        </li>
                        <li class="lvl1 parent megamenu"><a href="{% url 'web:about' %}">About</a>
                            
                        </li>
                        <li class="lvl1 parent megamenu"><a href="{% url 'web:product' %}">Product</a>
                            
                        </li>
                        <li class="lvl1 parent dropdown"><a href="{% url 'web:blog' %}">update</a>
                            
                        </li>
                        <li class="lvl1 parent dropdown"><a href="{% url 'web:gallery' %}">Gallery</a>
                            
                        </li>
                        <li class="lvl1 parent dropdown"><a href="{% url 'web:contact' %}">contact</a>
                            
                        </li>
                    </ul>
                </nav>
            </div>
            <!--End Menu-->
            <!--Right Icon-->
            <div class="col-8 col-sm-8 col-md-8 col-lg-5 col-xxl-5 align-self-center icons-col text-right">
                <!--Search-->
                <div class="search-parent iconset">
                    <!--Search Inline-->
                    <div class="minisearch-inline d-none d-lg-block">
                        <form class="form minisearch search-inline-brd" id="header-search0" action="{% url 'web:product' %}" method="get">
                            <label class="label d-none"><span>Search</span></label>
                            <!--Search Field-->
                            <div class="d-flex searchField">
                               {% comment %} <div class="search-category">
                                    <select class="rgsearch-category border-0">
                                        <option value="">All Categories</option>
                                        {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.category_title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>  {% endcomment %}
                                <div class="input-box d-flex fl-1">
                                    <input type="text" name="search" class="form-control input-group-field search-input border-0" placeholder="Search here..." value="" />
                                    <button type="submit" class="input-group-btn text-link search-submit border-0"><i class="hdr-icon icon anm anm-search-l"></i></button>
                                </div>
                            </div>
                            <!--End Search Field-->
                        </form>
                    </div>
                    <!--End Search Inline-->

                    <div class="site-search d-lg-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Search">
                        <a href="#;" class="search-icon clr-none" data-bs-toggle="offcanvas" data-bs-target="#search-drawer"><i class="hdr-icon icon anm anm-search-l"></i></a>
                    </div>
                    <div class="search-drawer offcanvas offcanvas-top" tabindex="-1" id="search-drawer">
                        <div class="container">
                            <div class="search-header d-flex-center justify-content-between mb-3">
                                <h3 class="title m-0">What are you looking for?</h3>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="search-body">
                                <form class="form minisearch search-inline-brd" id="header-search0" action="{% url 'web:product' %}" method="get">
                                    <label class="label d-none"><span>Search</span></label>
                                    <!--Search Field-->
                                    <div class="d-flex searchField">
                                       {% comment %} <div class="search-category">
                                            <select class="rgsearch-category border-0">
                                                <option value="">All Categories</option>
                                                {% for category in categories %}
                                                <option value="{{ category.id }}">{{ category.category_title }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>  {% endcomment %}
                                        <div class="input-box d-flex fl-1">
                                            <input type="text" name="search" class="form-control input-group-field search-input border-0" placeholder="Search here..." value="" />
                                            <button type="submit" class="input-group-btn text-link search-submit border-0"><i class="hdr-icon icon anm anm-search-l"></i></button>
                                        </div>
                                    </div>
                                    <!--End Search Field-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Search-->
                
                
                
                <!--Minicart-->
                <div class="header-cart iconset" title="Cart">
                    <a href="{% url 'web:cart' %}" class="header-cart btn-minicart clr-none" ><i class="hdr-icon icon anm anm-cart-l"></i><span class="cart-count">{{request.session.cart|length}}</span></a>
                </div>
                <!--End Minicart-->
                <!--Mobile Toggle-->
                <button type="button" class="iconset pe-0 menu-icon js-mobile-nav-toggle mobile-nav--open d-lg-none" title="Menu"><i class="hdr-icon icon anm anm-times-l"></i><i class="hdr-icon icon anm anm-bars-r"></i></button>
                <!--End Mobile Toggle-->
            </div>
            <!--End Right Icon-->
        </div>
    </div>
</header>
<!--End Header-->

<!--Mobile Menu-->
<div class="mobile-nav-wrapper mobileMenu-bg-black" role="navigation">
    <div class="closemobileMenu">Close Menu <i class="icon anm anm-times-l"></i></div>
    <ul id="MobileNav" class="mobile-nav">
        <li class="lvl1 parent dropdown"><a href="{% url 'web:index' %}">Home </a>
            
        </li>
        <li class="lvl1 parent megamenu"><a href="{% url 'web:about' %}">About </a>
            
        </li>
        <li class="lvl1 parent megamenu"><a href="{% url 'web:product' %}">Product </a>
            
        </li>
        <li class="lvl1 parent dropdown"><a href="{% url 'web:blog' %}">updates </a>
            
        </li>
        <li class="lvl1 parent dropdown"><a href="{% url 'web:gallery' %}">Gallery </a>
            
        </li>
        <li class="lvl1 parent dropdown"><a href="{% url 'web:contact' %}">Contact</a>
        </li>

        <li class="mobile-menu-bottom">
            
            <div class="mobile-follow mt-2">  
                <h5 class="title">Follow Us</h5>
                <ul class="list-inline social-icons d-inline-flex mt-1">
                    <li class="list-inline-item"><a href="#" title="Facebook"><i class="icon anm anm-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" title="Twitter"><i class="icon anm anm-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" title="Pinterest"><i class="icon anm anm-pinterest-p"></i></a></li>
                    <li class="list-inline-item"><a href="#" title="Linkedin"><i class="icon anm anm-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a href="#" title="Instagram"><i class="icon anm anm-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" title="Youtube"><i class="icon anm anm-youtube"></i></a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<!--End Mobile Menu-->












